.all-forms-style {
    padding: 95px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    flex-direction: column;
    min-height: 100vh;
    .bg {
        width: 100%;
        background-color: unset;
        overflow: hidden;
        position: absolute;
        height: 100vh;
        display: flex;
        justify-content: center;
        top: 0;
        .bg-round {
            border-radius: 0 0 50% 50%;
            width: 2906px;
            height: 2906px;
            position: absolute;
            top: -2430px;
            z-index: 0;
            background: #f3f3f3;
            box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
        }
    }
    .back-button {
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background-color: #dedede;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 80px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .title {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        line-height: 54px;
        color: #0288d1;
        margin-bottom: 12px;
        z-index: 9;
        display: block !important;
    }
    .logo-invest {
        margin: 80px;
        position: absolute;
        right: 0;
        top: 0;
    }
    .desc {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 35px;
        z-index: 2;
    }
    .steps-invest {
        display: inline;
        width: 700px;
        position: relative;
        ul {
            margin: 0 0 40px 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            li {
                background-color: #f3f3f3;
                padding: 0 5px;
                z-index: 1;
                display: flex;
                align-items: center;
                list-style-type: none;
                .number {
                    margin-right: 5px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                    color: rgba(36, 36, 36, 0.5);
                    background: rgba(196, 196, 196, 0.5);
                }
                span {
                    font-size: 12px;
                }
            }
            .actbread {
                color: #0288d1;
                .number {
                    color: white;
                    background-color: #0288d1;
                }
            }
        }
        hr {
            top: -50px;
            position: relative;
            margin-bottom: 0;
        }
    }
    .steps-startup {
        width: 992px;
        position: relative;
        ul {
            margin: 0 0 40px 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            li {
                background-color: #f3f3f3;
                padding: 0 5px;
                z-index: 1;
                display: flex;
                align-items: center;
                list-style-type: none;
                .number {
                    margin-right: 5px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                    color: rgba(36, 36, 36, 0.5);
                    background: rgba(196, 196, 196, 0.5);
                }
                span {
                    font-size: 12px;
                }
            }
            .actbread {
                color: #0288d1;
                .number {
                    color: white;
                    background-color: #0288d1;
                }
            }
        }
        hr {
            top: -50px;
            position: relative;
            margin-bottom: 0;
        }
    }

    .steps-invest-mobile, .steps-startup-mobile{
        display: none;
    }

    .box-form-data {
        z-index: 2;
        width: 700px;
        background-color: white;
        padding: 50px 80px;
        border: 3px solid #f3f3f3;
        border-radius: 9px;
        margin-bottom: 40px;
        transition: .3s;

        .title {
            font-weight: 500;
            font-size: 25px;
            color: #0288d1;
            text-align: left;
            line-height: normal;
            margin-bottom: 36px;
        }
        form {
            ////////////
            .line-error{
                border: #f44336 1px solid;
                border-radius: 9px;
                button{
                    border: none;
                }
            }
            .button-gender{
                button{
                    width : 124px; 
                    height: 48px; 
                    border-radius : 9px 0 0 9px;
                    color: #A9A9A9;
                    &:last-of-type{
                        border-radius : 0 9px 9px 0;
                    }
                }
                .act-gen{
                    box-shadow: inset 0px 4px 4px #D4D7DD;
                    border-radius: 9px 0px 0px 9px;
                    background: #ECEFF4;
                    color: #333333;
                }
            }
            .help-gender{
                margin-bottom: 20px;
                margin-left: 14px;
                color: #f44336;
            }

            .startup-company-logo{
                .label-cus{
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 300;
                    margin-left: 14px;
                    margin-bottom: 14px;
                    color: #333333;
                }
                .file-frame{
                    border: 1px solid #B9BBCB;
                    height: 48px;
                    border-radius: 9px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 30px;
                    span{
                        font-size: 14px;
                        margin-left: 14px;
                        color: #A9A9A9;
                    }
                    button{
                        width: 115px;
                        height: 48px;
                        border-radius: 0 9px 9px 0;
                        background: #0288D1;
                        box-sizing: border-box;
                        font-size: 14px;
                        span{
                            margin: 0;
                            color: white;
                        }
                        &:focus{
                            outline: none;
                        }
                    }
                }

            }

            .info-file {
                font-size: 12px;
                margin-bottom: 0;
                color: #333333;
                font-weight: 300;
                span {
                    font-weight: 500;
                }
            }

            .w-addnow{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                .w-check{
                    display: flex;
                    align-items: center;
                    .cbox{
                        width: 23px;
                        height: 23px;
                        background: #F4F4F4;
                        border: 1px solid #0288D1;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 3px;
                    }
                    span{
                        margin-left: 20px;
                        font-size: 14px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 24px;
                        color: #333333;                        
                    }
                }
            }

            .syarat{
                
                .title{
                    font-size: 18px;
                    margin-bottom: 20px;
                    // line-height: 18px;
                    color: #333333;
                    font-weight: 400;
                }
                p{
                    font-weight: 300;
                    font-size: 12px;
                }
            }
         
            ///////////
        }
    }

    .foot-data-diri {
        z-index: 1;
        width: 700px;
        display: flex;
        // align-items: center;
        justify-content: space-evenly;
        .agreement {
            width: 400px;
            font-size: 8px;
            line-height: 12px;
            color: rgba(36, 36, 36, 0.8);
        }
        button {
            width: 197px;
            height: 36px;
            font-size: 14px;
            text-transform: uppercase;
            color: #ffffff;
            background: #01579b;
            border-radius: 24px;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }

    ///dokumen
    .info-dok {
        font-size: 12px;
        line-height: 20px;
        text-align: justify;
        color: rgba(36, 36, 36, 0.8);
        font-weight: 300;
        margin-bottom: 40px;
        span {
            font-weight: 500;
        }
        a {
            color: #048fff;
            text-decoration: underline;
        }
    }

    .tit-unggah {
        margin-left: 15px;
        font-size: 14px;
        line-height: 18px;
        color: #333333;
    }

    .box-upload-dok {
        display: flex;
        justify-content: space-between;
        .tag {
            text-align: center;
            font-size: 14px;
            color: #333333;
            margin-bottom: 10px;
        }
        button {
            font-size: 12px;
            line-height: 18px;
            text-decoration-line: underline;
            color: #c4c4c4;
            background: #fafafa;
            border-radius: 9px;
            border: none;
            width: 163px;
            height: 48px;
            filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
            img {
                margin-left: 10px;
            }
        }
    }

    .mod-file {
        z-index: 200;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.65);
        .box-mod {
            // position: relative;
            // z-index: 400;
            padding: 30px 0;
            border-radius: 20px;
            background-color: white;
            width: 744px;
            filter: drop-shadow(0px 0px 9px rgba(0, 0, 0, 0.25));
            display: flex;
            flex-direction: column;
            align-items: center;
            .title-mod {
                font-size: 30px;
                line-height: 48px;
                color: #000000;
            }
            .desc-mod {
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                max-width: 420px;
                color: #000000;
                font-weight: 300;
            }
            .popic {
                margin-bottom: 30px;
            }
            button {
                font-size: 14px;
                color: #ffffff;
                width: 180px;
                height: 48px;
                background: #01579b;
                border-radius: 9px;
                border: none;
                margin-bottom: 12px;
            }
            .info {
                font-size: 12px;
                margin-bottom: 0;
                color: #333333;
                font-weight: 300;
                span {
                    font-weight: 500;
                }
            }
        }
    }

    // POPUP SUCCESS FORM
    .popsukform {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.65);
        z-index: 200;
        .box-suk {
            background-color: white;
            width: 908px;
            height: 626px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            .titlepf {
                font-weight: 600;
                font-size: 50px;
                line-height: 54px;
                color: #000000;
            }
            .descpf {
                font-size: 30px;
                line-height: 54px;
                text-align: center;
                color: #757575;
            }
            .fa-times {
                font-size: 30px;
                position: absolute;
                top: 0;
                left: 0;
                margin: 30px;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .all-forms-style {
        padding: 15px;

        .logo-invest{
            display: none;
            margin-top: 10px;
            margin-right: 110px;
        }

        .back-button{
            margin-top: 10px;
            margin-left: 10px;
            background-color: unset;
            box-shadow: unset;
        }

        .title{
            margin-top: 50px;
        }

        .steps-invest, .steps-startup{
            display: none;
       }

       .steps-invest-mobile, .steps-startup-mobile{
           display: inline-flex;
           align-items: center;
           z-index: 1;
           margin-bottom: 30px;
           width: 100%;
           color: #c0c0c0;
       }

        .steps-startup{
            hr{
                width: 60%;
                top: -150px;
                margin-left: -25.5%;
            }
        }

        .box-form-data{
            width: 100%;
            padding: 20px;
            margin: 20px;
            margin-top: -10px;
            .title{
                margin-top: 0;
            }
            .button-gender{
                button{
                    width: 140px !important;
                }
            }
        }

        .foot-data-diri{
            width: 100%;
            display: block;
            .agreement{
                width: 100%;
            }

            button{
                width: 100%;
            }
        }

        .tit-unggah{
            display: flex;
            div{
                margin-left: 10px;
            }
        }

        .box-upload-dok{
            flex-wrap: wrap;
            
            p.tag{
                text-align: unset;
            }

            div{
                width: 100%;
                margin-bottom: 20px;

                button{
                    width: 100%;
                }
            }
        }

        .custom_text_input label{
            font-size: 11px;
        }
    }
}