//   color code
$grey: #a5a5a5;
$low-grey: #f4f4f4;
$blue-grey: #455a64;
$low-blue: #0288d1;
$blue: #01579b;
$dark-blue: #0288d1;
$red: #f27272;
$orange: #f29877;
.but-blue {
    width: 197px;
    height: 36px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    background: $blue;
    border-radius: 24px;
    border: none;
    outline: none;
}

.swal2-container {
    z-index: 99999999999999 !important;
}

// buttons
.but-solid {
    background-color: $low-blue;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    outline: unset !important;
}

.but {
    color: black;
    border-radius: 8px;
    border: 1px solid $low-blue;
    background-color: white;
    font-size: 16px;
    outline: unset !important;
}

a {
    color: unset;
    &:hover {
        text-decoration: none;
    }
}

button {
    outline: none !important;
    transition: 0.2s;
}

.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

// overide modal fade react material ui
.modal_remove_outline {
    &:focus {
        outline: none;
    }
}

.has-float-label input:placeholder-shown:not(:focus)+*,
.has-float-label select:placeholder-shown:not(:focus)+*,
.has-float-label textarea:placeholder-shown:not(:focus)+* {
    font-size: 14px;
    opacity: 1;
    top: 0;
    background-color: unset;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a9a9a9;
}

// outline slick overide
.slick-slide,
.slick-slide * {
    outline: none !important;
}

//REMOVE ARROW INPUT NUMBER
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

.MuiAutocomplete-option {
    font-size: 14px !important;
}

@import "./CUSTOM_INPUT_GLOBAL";
@import "./navbar";
@import "./home";
@import "./login_register";
@import "./term";
@import "./otp";
@import "./selectform";
@import "./allFormsStyle";
@import "./footer.scss";
@import "./ojk.scss";
@import "./carohome.scss";
@import "./benefit.scss";
@import "./aboutus.scss";
@import "./caroquotes.scss";
@import "./joinnow.scss";
@import "./how.scss";
@import "./modalerror.scss";
@import "./emptPage.scss";
@import "./companylist.scss";
@import "./card.scss";
@import "./methodtopup.scss";
@import "./detailtransaction.scss";
@import "./topupstatus.scss";
@import "./companydetail.scss";
@import "./withdraw.scss";
@import "./faq.scss";
@import "./JoinInvestor.scss";
@import "./invest.scss";
@import "./profile.scss";
@import "./payment.scss";
@import "./paymentstatus.scss";