.company-detail{
    padding-top: 74px;
    padding-bottom: 74px;
    background-color: white;
    .header-detail{
        display: flex;
        // justify-content: center;
        // background-color: skyblue;
        align-items: center;
        margin-top: 29px;
        margin-bottom: 17px;
        .logo{
            width: 52px;
            height: 52px;
            margin-right: 20px;
            border-radius: 6px;
        }
        .comp-name{
            font-weight: 500;
            font-size: 24px;
            line-height: normal;
            margin-bottom: 0px;

        }
        .desc{
            font-weight: 300;
            font-size: 14px;
            color: #455A64;
            margin-bottom: 0;
        }
    }

    .carousell-detail-wrap{
        border-radius: 6px;
        overflow: hidden;
        .img-caro-det{
            width: 100%;
            object-fit: cover;
            height: 332.93px;
        }
        .slick-dots.slick-thumb{
            position: absolute !important;
            background-color: #0606066b;
            bottom: 7px;
            height: 66px;
            li{
                margin: 0 30px;
                .thumb-caro{
                    margin-top: 10px;
                    width: 66px;
                    height: 42px;
                    border-radius: 9px;
                }
            }
            .slick-active{
                a{
                    opacity: .6;
                }
            }
        }
        .caro-footer-cus{
            border-radius: 0 0 6px 6px;
            margin-top: -7px;
            height: 55px;
            background-color: #F6F6F6;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 35px;
            margin-bottom: 20px;
            .info-wrap{
                display: flex;
                align-items: center;
                font-size: 16px;
                font-weight: 300;
                .loca, .web{
                    margin-right: 50px;
                    display: flex;
                    align-items: center;
                    img{
                        margin-right: 7px;
                    }
                }
                .web{
                    text-decoration-line: underline;
                    color: #4CB5EF;
                    font-style: italic;
                }
            }
            .wrap_tag{
                display: flex;
                .tags{
                    margin-left: 5px;
                    width: 97.66px;
                    height: 32.16px;
                    background: #FFFFFF;
                    border: 1px solid #C4C4C4;
                    box-sizing: border-box;
                    border-radius: 6px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    color: #000000;
                }
            }
            
        }
    }
    .stepper{

        .stepper-wrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .wrapstep{
                z-index: 1;
                display: flex;
                flex: 1;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // background-color: wheat;
                .steps-icons{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: #F6F6F6;
                    margin-bottom: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i{
                        font-size: 26px;
                        color: #C4C4C4;                    
                    }
                }
                .d-step{
                    font-size: 12px;
                    color: #C4C4C4;
                    font-weight: 300;                    
                }

            }
        }
        .stepper-active{
            .steps-icons{
                background-color: #01579B !important;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                i{
                    color: white !important;                    
                }
            }
            .d-step{
                color: black !important;                   
            }
        }

        .liner{
            position: relative;
            padding: 0 75px;
            top: -75px;
            .line-primary{
                margin: 0;
                border: 2px dashed #C4C4C4;
            }
        }
    }

    .tab-custom{
        margin-top: 125px;
        margin-bottom: 25px;
        .box-tabs{
            border-bottom: 1px solid #C4C4C4;
            margin-bottom: 27px;
            .MuiTab-textColorPrimary{
                color: #757575;
                font-weight: 300;
            }
            .MuiTab-textColorSecondary{
                color: black;
            }
            .MuiTabs-indicator{
                background-color: black;
                height: 5px;
            }
        }

        .tab-content{
            padding: 45px 40px;
            background: #F6F6F6;
            border-radius: 15px;
            //FINANSIAL TAB
            .finansial-tab{
                .title{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 35px;
                    line-height: 42px;
                    color: #333333; 
                    margin-bottom: 55px;  
                    img{
                        margin-right: 20px;
                    }                 
                }
                .lab{
                    margin-bottom: 20px;
                    font-size: 16px;
                    color: #757575;
                    font-weight: 300;
                }
                hr{
                    border: 2px solid white;
                    margin: 40px 0;
                }
                .val-fin{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;
                    p{
                        margin-bottom: unset;
                        height: 47px;
                        background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
                        border-radius: 9px;
                        display: flex;
                        align-items: center;
                    }
                    .saham{
                        // padding: 0 30px;
                        width: 60%;
                        justify-content: center;
                        font-size: 18px;
                    }
                    .lembar{
                        justify-content: center;
                        text-align: center !important;
                        width: 30%;
                        color: #0288D1;
                        font-size: 18px;
                        font-weight: 300;
                    }
                }
            }
            .simulasi-tab{
                  //SIMULASI TAB
                .title{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 35px;
                    line-height: 42px;
                    color: #333333; 
                    margin-bottom: 55px;  
                    img{
                        margin-right: 20px;
                    }                 
                }
                .lab{
                    margin-bottom: 20px;
                    font-size: 16px;
                    color: #757575;
                    font-weight: 300;
                }

                .sim-count{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 70px;
                    .cal{
                        width: 45%;
                        .inp-count{
                            display: flex;
                            justify-content: space-between;
                            input{
                                width: 60%;
                                background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
                                box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
                                border-radius: 9px;
                                text-align: center;
                                border: unset;
                                font-weight: bold;
                                font-size: 18px;
                                &:focus{
                                    outline: none;
                                }
                            }
                            button{
                                width: 41px ;
                                height: 41px ;
                                // border-radius: 50%;
                                font-size: 35px;
                                background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
                                box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
                            }
                            // .butcounter{
                            // }
                        }
                    }
                    .val-inv{
                        width: 45%;
                        .right{
                            margin-bottom: unset;
                            height: 47px;
                            background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
                            border-radius: 9px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 18px;
                            font-weight: 700;
                        }
                    }
                }
                .val-sim{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;
                    p{
                        margin-bottom: unset;
                        height: 47px;
                        background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
                        border-radius: 9px;
                        display: flex;
                        align-items: center;
                    }
                    .left{
                        width: 45%;
                        justify-content: center;
                        font-size: 18px;
                        color: #0288D1;
                        font-weight: 300;

                    }
                    .right{
                        justify-content: center;
                        width: 45%;
                        color: #0288D1;
                        font-size: 18px;
                        font-weight: 300;
                    }
                }

            }

            //UPDATES TAB
            .updates{
                .notif-update{
                    padding: 30px 50px;
                    background-color: #FFFFFF;
                    border: 1px solid #757575;
                    box-sizing: border-box;
                    border-radius: 15px;
                    margin-bottom: 30px;
                    .head{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 37px;
                        color: #757575;
                        font-size: 14px;
                    }
                    .con{
                        font-size: 14px;
                        line-height: 20px;
                        color: #000000;  
                        a{
                            color: #4CB5EF;
                        }                      
                    }
                }

            }
        }
    }



    // div right 
    .nominalbox{
        padding-top: 100px;
        padding-bottom: 30px;
        border-bottom: 1px solid #DEDEDE;
        .label{
            font-size: 16px;
            color: #656565;
            font-weight: 300;
            margin-bottom: 0px;
        }
        .nominal{
            font-weight: 700;
            font-size: 40px;
            color: #000000;            
            margin-bottom: 10px;
        }
        .prog{
            margin-bottom: 20px;
            .MuiLinearProgress-barColorPrimary{
                background: #4CB5EF;
            }
            // .MuiLinearProgress-barColorSecondary{
            // }
            .bar{
                background-color: #DEDEDE;
                width: 100%;
                border-radius: 7.5px;
                height: 9px;
            }
            span{
                margin-left: 10px;
                color: #4CB5EF;
                font-size: 16px;
            }

        }
        .avail{
            font-size: 16px;
            color: #757575;
            font-weight: 300;
            span{
                color: #F27272;
                font-weight: 500;
            }
        }

    }
    .wrap-boxes-status{
        border-bottom: 1px solid #DEDEDE;
        // height: 75px;
        margin-bottom: 25px;
        padding: 15px 0;
        .num{
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 0;
            line-height: normal;
        }
        .paper{
            font-size: 12px;
            font-weight: 300;
            margin-bottom: 10px;
            margin-top: 5px;
        }
        .inf{
            font-size: 16px;
            font-weight: 300;
            color: #757575;
            margin-bottom: 0;
        }
    }

    .start{
        height: 60px;
        background-color: #01579B;
        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        width: 100%;
        border: 0;
        text-transform: uppercase;
        font-size: 20px;
        color: #FFFFFF;
        margin-bottom: 40px;
        &:hover{
            background-color: #01579B !important;
        }
    }

    .love-share{
        img{
            cursor: pointer;
        }
        .love{
            font-size: 14px;
            color: #757575;
            margin-right: 25px;
            font-weight: 300;
            img{
                margin-right: 10px;
            }
        }
    }

    .down{
        height: 60px;
        background: white;
        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        width: 100%;
        border: 0;
        text-transform: uppercase;
        font-size: 20px;
        color: #0288D1;
        margin-top: 40px;
    }

    .bottom-bar{
        .emb-map{
            width: 100%;
            height: 300px;
            margin-bottom: 50px;
        }
        .desc-address{
            font-size: 14px;
            line-height: 30px;
            text-align: justify;
            text-indent: 30px;
            color: #757575;
        }
    }


}

@media only screen and (max-width: 768px){
    .carousell-detail-wrap{
        .img-caro-det{
            height: 230px !important;
        }

        .slick-thumb{
            display: flex !important;
            padding-left: 20px;
            padding-right: 50px;
            justify-content: space-between;

            li{
                margin: 0 !important;
            }
            .thumb-caro{
                width: 50px !important;
                height: 40px !important;
            }
        }

        .caro-footer-cus{
            padding: 0 15px !important;
        }
    }

    .stepper{
        margin-top: 10px;
        margin-bottom: -100px;
        .stepper-wrap{
            .wrapstep{
                .steps-icons{
                    width: 45px !important;
                    height: 45px !important;
                    i{
                        font-size: 17px !important;
                    }
                }
                .d-step{
                    text-align: center;
                    font-size: 9px !important;
                }
            }
        }
    }

    .liner{
        .line-primary{
            margin-top: -5px !important;
            width: 250px !important;
            margin-left: -30px !important;
        }
    }

    .tab-custom{
        .MuiTab-wrapper{
            font-size: 13px;
        }
    }

    .tab-content{
        padding: 20px !important;
        .finansial-tab{
            .title{
                font-size: 22px !important;
                font-weight: 500 !important;
                margin-bottom: 20px !important;
            }
            .lab{
                margin-bottom: 10px !important;
                font-size: 14px !important;
            }
            .val-fin{
                .lembar{
                    margin-left: 10px;
                    width: 100% !important;
                }
                .saham{
                    margin-right: 10px;
                    width: 100% !important;
                }
                p{
                    font-size: 14px !important;
                }
            }
        }
    }

    .nominalbox{
        padding-top: 0 !important;
        padding-bottom: 20px !important;
        p.nominal{
            font-size: 25px !important;
        }
        p.avail{
            font-size: 12px !important;
        }
        .prog{
            margin-bottom: 0 !important;
        }
    }

    .wrap-boxes-status{
        margin-bottom: 0 !important;
        p{
            font-size: 14px !important;
        }
    }

    .love-share{
        margin-top: 10px !important;
        font-size: 12px;
        img{
            width: 25px !important;
        }
    }

    .start{
        height: 50px !important;
        font-size: 14px !important;
        margin-bottom: 20px !important;
    }

    .down{
        height: 50px !important;
        font-size: 14px !important;
    }

    .simulasi-tab{
        .title{
            font-size: 22px !important;
            font-weight: 500 !important;
        }

        .sim-count{
            display: block !important;
            p.lab{
                margin-bottom: 10px !important;
            }

            .cal{
                width: 100% !important;
                p.lab{
                    white-space: nowrap;
                }
            }
            .inp-count{
                // width: 290px !important;
                margin-bottom: 20px;
            }

            .val-inv{
                width: 100% !important;
            }
        }

        p.lab{
            font-size: 14px !important;
            margin-bottom: 0 !important;
        }

        .val-sim{
            width: 100% !important;
            font-size: 14px !important;
            padding: 10px !important;

            .left{
                font-size: 12px !important;
                margin-right: 10px;
            }

            .right{
                font-size: 12px !important;
                margin-left: 10px;
            }

        }
        p.nb{
            padding-top: 0 !important;
        }
    }

    .updates{
        .notif-update{
            padding: 20px !important;
            .con{
                p.link{
                    a{
                        word-wrap: break-word;
                    }
                }
            }
        }
    }
}