.data-diri{
    padding: 95px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    flex-direction: column;
    min-height: 100vh;
    .bg{
        width: 100%;
        background-color: unset;
        overflow: hidden;
        position: absolute;
        height: 100vh;
        display: flex;
        justify-content: center;
        top: 0;
        .bg-round{
            border-radius:0 0 50% 50%;
            width: 2906px;
            height: 2906px;
            position: absolute;
            top: -2430px;
            z-index: 0;
            background: #F3F3F3;
            box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
        }

    }
    .back-button{
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background-color: #DEDEDE;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 80px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .title{
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        line-height: 54px;
        color: #0288D1;
        margin-bottom: 12px;
        z-index: 2;
    }
    .logo-invest{
        margin: 80px;
        position: absolute;
        right: 0;
        top: 0;
    }
    .desc{
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 35px;
        z-index: 2;
    }
    .steps-invest{
        width: 700px;
        position: relative;
        ul{
            margin: 0 0 40px 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            li{
                background-color: #F3F3F3;
                padding: 0 5px;
                z-index: 1;
                display: flex;
                align-items: center;
                list-style-type: none;
                .number{
                    margin-right: 5px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                    color: rgba(36, 36, 36, 0.5);
                    background: rgba(196, 196, 196, 0.5);
                }
                span{
                    font-size: 12px;
                }
            }
        }
        hr{
            top: -50px;
            position: relative;
            margin-bottom: 0;
        }
    }
    .box-form-data{
        z-index: 2;
        width: 700px;
        background-color: white;
        padding: 50px 80px;
        border: 3px solid #F3F3F3;
        border-radius: 9px;
        margin-bottom: 40px;
        .title{
            font-weight: 500;
            font-size: 25px;
            color: #0288D1;
            text-align: left;
            line-height: normal;
            margin-bottom: 36px;
        }
        form{
            .im{
                margin-bottom: 33px;
            }
            .has-float-label{
                input{
                    &:disabled{
                        background-color: #ECEFF4;
                        border-radius: 9px;
                        color: #A9A9A9;
                    }
                }
            }

            .datapick{
                .has-float-label{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    .datapick-cus{
                        height: 48px !important;
                    }
                    .fa-calendar-alt{
                        font-size: 28px;
                        cursor: pointer;
                        color: #0288D1;
                    }
                    .icon-label{
                        position: static;
                        margin-bottom: 0;
                    }
                }
            }

            .label-cus{
                margin-top: 20px;
                margin-bottom: 8px;
                font-size: 12px;
                line-height: 18px;
                color: #333333;  
                margin-left: 20px;              
            }

            .box-sex{
                border-radius: 9px;
                background: #FFFFFF;
                border: 1px solid #B9BBCB;
                display: flex;
                height: 48px;
                overflow: hidden;
                color: #A9A9A9;
                cursor: pointer;
                .gen{
                    flex: 1;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .active-gen{
                    color: #333333;
                    background: #ECEFF4;
                    box-shadow: inset 0px 4px 4px #D4D7DD;
                }

            }

            // textarea{
            //     border: 1px solid rgba(36, 36, 36, 0.5);
            //     box-sizing: border-box;
            //     border-radius: 4px;
            //     margin-bottom: 20px;
            //     outline: none;
            // }
        }
    }

    .foot-data-diri{
        width: 700px;
        display: flex;
        // align-items: center;
        justify-content: space-evenly;
        .agreement{
            width: 400px;
            font-size: 8px;
            line-height: 12px;
            color: rgba(36, 36, 36, 0.8);
        }
        button{
            width: 197px;
            height: 36px;
            font-size: 14px;
            text-transform: uppercase;
            color: #FFFFFF;
            background: #01579B;
            border-radius: 24px;
            border: none;
            outline: none;
        }
    }
}