.faq {
    background-color: #f6f6f6;
    padding: 5em;

    .title {
        font-weight: 500;
        font-size: 36px;
        line-height: 48px;
        color: #000000;
    }

    .MuiTypography-body1 {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        color: #000000;
    }

    .question-reveal-wrapper {
        margin-right: 2em;
        .question-reveal {
            background-color: #f6f6f6 !important;
            box-shadow: none !important;
            padding: 0.3em 0;
            border-bottom: 1px solid #c4c4c4;
            border-radius: 0;

            .icon {
                font-size: medium;
            }

            .answer {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 30px;
                text-align: justify;
                text-indent: 30px;

                color: #455a64;
            }
        }
    }
}
