.indicator-color{
    background-color: #343a40 !important;
}

.jumbo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    .home {
        // margin-top: 80px;
        background-position: right;
        background-repeat: no-repeat;
        // background-size: contain;
        background-size: 60%, 41%;
        position: relative;
        padding: 75px 0 120px;
        background-origin: padding-box;
    
        // POPUP SUCCESS FORM
        .popsukform {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.65);
            z-index: 1001;
            .box-suk {
                background-color: white;
                width: 908px;
                height: 626px;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                .titlepf {
                    font-weight: 600;
                    font-size: 50px;
                    line-height: 54px;
                    color: #000000;
                }
                .descpf {
                    font-size: 30px;
                    line-height: 54px;
                    text-align: center;
                    color: #757575;
                }
                .fa-times {
                    font-size: 30px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: 30px;
                    cursor: pointer;
                }
            }
        }
    
        .contain-home {
            display: flex;
            padding: 75px 0 120px !important;
            align-items: center;
            height: 100%;
            .wrap {
                margin-top: 72px;
                .title {
                    font-weight: 900;
                    font-size: 70px;
                    line-height: 50px;
                    span {
                        font-size: 40px;
                    }
                }
                .desc {
                    max-width: 50%;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 30px;
                }
                button {
                    width: 205px;
                    height: 52px;
                    margin-right: 28px;
                    margin-bottom: 38px;
                }
                .but-solid {
                    background-color: #0288d1;
                    border: none;
                    border-radius: 8px;
                    color: white;
                    font-size: 16px;
                    outline: unset !important;
                }
    
                .but {
                    color: black;
                    border-radius: 8px;
                    border: 1px solid #0288d1;
                    background-color: white;
                    font-size: 16px;
                    outline: unset !important;
                }
            }
        }
    
        
    }

    .last-invest {
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        background-color: white;
        padding: 15px 0;
        position: relative !important;
        z-index: 1;
        width: 100%;
        // height: 111px;
        // overflow: hidden;
        .card-last {
            // background-color: maroon;
            border-right: 1px solid #dedede !important;
            display: flex !important;
            // width: 300px;
            justify-content: center;
            padding: 12px;
            &:last-of-type {
                border-right: 0;
            }
            img {
                height: 38px;
                width: 38px;
                margin-right: 10px;
                border-radius: 5px;
                object-fit: cover;
            }
            .name {
                font-size: 16px;
                line-height: normal;
                width: 205px;
                color: #a5a5a5;
                margin-bottom: 0;
                font-weight: 300;
                span {
                    color: black;
                }
                .time {
                    margin-top: 5px;
                    margin-bottom: 0px;
                    font-size: 12px;
                }
            }
        }
    }
}



.butraise {
    padding: 50px 0;
    // padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .tit {
        font-weight: 900;
        font-size: 35px;
        margin-bottom: 10px;
    }
    .desc {
        display: flex;
        align-items: center;
        img {
            margin-right: 5px;
            font-size: 16px;
        }
    }
    button {
        width: 344px;
        height: 59px;
        font-weight: 900;
        font-size: 18px;
        background: #ffffff;
        border: 1px solid #4cb5ef;
        box-sizing: border-box;
        border-radius: 8px;
        filter: drop-shadow(0px 0px 9px rgba(0, 0, 0, 0.25));
    }
}

@media only screen and (max-width: 768px) {
    .indicator-color{
        background-color: #ffffff!important;
    }
    .jumbo{
        .home {
            background-size: cover;
            // height: 550px;
            padding-top: 60px;
            z-index: unset !important;
    
            &::after{
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                bottom: 0;
                background-color: black;
                opacity: .4;
            }
    
            .start-invest-but, .get-fund-but{
                padding: 5px;
            }
            .start-invest-but{
                margin-left: 0;
            }
        
            .contain-home {
                padding: 20px !important;
                height: 100vh;
                .wrap {
                    z-index: 10 !important;
                    margin-top: 0 !important;
                    margin-bottom: 50%;
                    color: white;
                    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
                    img {
                        border-radius: 5px;
                        width: 100px;
                        margin-top: 40px;
                    }
                    .title {
                        margin-top: 70px;
                        margin-bottom: 30px;
                        font-size: 45px !important;
                        .hideOnMobile {
                            display: none;
                        }
                        span {
                            font-size: 20px !important;
                        }
                    }
    
                    button {
                        margin-right: 0 !important;
                        margin-top: 10px;
                        margin-bottom: 10px !important;
                        height: 40px !important;
                        font-size: 14px !important;
                        width: 100% !important;
                    }
    
                    .desc {
                        max-width: 100% !important;
                        font-size: 14px;
                        text-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
                    }
                }
            }
        }

        .last-invest {
            z-index: 999;
            bottom: unset !important;
            .card-last {
                align-items: center;
                padding: 5px;
                .name {
                    font-size: 12px;
                }
            }
        }
    }


    .butraise {
        display: block;
        font-size: 14px;
        // padding-top: 100px;
        p.tit {
            font-size: 23px;
            text-align: center;
        }
        .desc{
            font-size: 12px;
        }

        button {
            width: 100% !important;
            height: 40px !important;
            height: 55px;
            margin-top: 20px;
            font-size: 14px !important;
        }
    }

    .carohome {
        overflow: hidden;
        .slick-track {
            display: block !important;
        }
        .arrows {
            display: none !important;
        }
    }

    .benefit {
        .benefit-list {
            position: relative;
            background-image: url("https://placeimg.com/640/480/tech/grayscale");
            background-size: cover;
            color: white !important;
            // background-attachment: fixed;
            background-position: center;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.5) !important;
            }

            .parag {
                text-shadow: rgba(0, 0, 0, 0.5);
                padding: 20px !important;
                z-index: 10;
                p.title {
                    color: white !important;
                    font-size: 25px;
                }
                p.desc {
                    color: white !important;
                    font-size: 14px !important;
                }
                ul {
                    margin-left: -40px !important;
                    li {
                        .fa-star {
                            margin-right: 10px !important;
                        }
                        font-size: 13px !important;
                    }
                }
            }
            img {
                display: none;
            }
        }

        .box-ben {
            margin-bottom: 30px !important;
        }
    }

    .caro-quotes {
        height: 400px !important;
        margin: 0 !important;

        .row-mobile {
            width: unset !important;
            margin-bottom: 20px;
        }

        span.header {
            font-size: 30px !important;
        }
        .name {
            font-size: 18px !important;
        }
        .details {
            font-size: 20px !important;
        }

        .arrows {
            button {
                background: unset !important;
            }

            .back {
                background: unset;
                // box-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
                margin: 0 !important;
            }

            .next {
                width: 100%;
                background: unset;
                // box-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
                margin: 0 !important;
            }
        }
    }

    .join-now {
        overflow: hidden;
        .wrap-join-boxes {
            margin-top: -50px !important;
            .wrap-gambar-join {
                display: none !important;
            }
            p.big-text {
                font-size: 25px;
            }
            p.text {
                text-align: justify;
                font-size: 14px;
            }

            .pt-5 {
                padding-top: 1rem !important;
            }

            .gray {
                color: black !important;
                font-weight: 400;
            }
        }
        button {
            height: 35px !important;
            font-size: 14px !important;
            margin-top: -20px !important;
            margin-bottom: 10px;
        }
    }

    .faq {
        padding: 20px !important;
        h3 {
            font-size: 22px;
        }
        .question-reveal-wrapper {
            margin: 0 !important;
        }
        .mobile-hidden {
            display: none;
        }
    }

    footer {
        padding-top: 20px !important;
        height: 100% !important;

        .left {
            margin-bottom: 20px;
        }
    }

    .ojk {
        height: 100% !important;
        margin-top: 20px;
    }
}
