.how {
    .head {
        padding-top: 72px;
        height: 580px;
        // background-color: skyblue;
        .jumbo {
            display: flex;
            align-items: center;
            height: 100%;
            .con {
                max-width: 480px;
                .title {
                    font-weight: 900;
                    font-size: 55px;
                    line-height: 64px;
                }
                .desc {
                    font-weight: 300;
                    font-size: 16px;
                    margin-bottom: 60px;
                }
                .how-invest {
                    width: 205px;
                    height: 52px;
                    background: #4cb5ef;
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 8px;
                    border: none;
                    color: white;
                    margin-right: 28px;
                    font-weight: 500;
                    font-size: 16px;
                }
                .fund {
                    font-weight: 500;
                    font-size: 16px;
                    background: #ffffff;
                    border: 1px solid #0288d1;
                    box-sizing: border-box;
                    box-shadow: 0px 0px 9px #4cb5ef;
                    border-radius: 8px;
                    width: 205px;
                    height: 52px;
                }
            }
        }
    }

    .cara {
        height: 222px;
        padding: 3em 5em;
        background: #f6f6f6;
        text-align: start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title {
            font-weight: 900;
            font-size: 20px;
            line-height: 41px;
            color: #333333;
        }
        .desc {
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #333333;
        }
    }

    .kartu {
        padding: 100px 0;
        .steps {
            display: flex;
            justify-content: space-between;
            .step-box {
                overflow: hidden;
                width: 339px;
                height: 476px;
                background: #ffffff;
                box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
                border-radius: 18px;
                .head-kar {
                    background-color: #f6f6f6;
                    text-align: center;
                    height: 94px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    .title {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 23px;
                        color: #0288d1;
                        margin-bottom: 4px;
                    }
                    .desc {
                        font-weight: 900;
                        font-size: 20px;
                        line-height: 23px;
                        text-align: center;
                        margin-bottom: 0;
                    }
                }
                .karcon {
                    text-align: center;
                    figure {
                        height: 142px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    ul {
                        padding: 0 20px;
                        display: flex;
                        li {
                            padding-left: 20px;
                            list-style: none;
                            text-align: left;
                            font-style: italic;
                            font-weight: 300;
                            font-size: 16px;
                            line-height: 30px;
                            color: #333333;
                            i {
                                font-size: 12px;
                                color: #c4c4c4;
                            }
                            &:first-of-type {
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .cara-mengajukan {
        .steps {
            padding: 3em 2em !important;
            .documents {
                margin: 0 1em;
                padding: 2em 3em;
                border: 1px dashed #0288d1;
                box-sizing: border-box;
                border-radius: 15px;
                .title {
                    font-weight: bold;
                    line-height: 23px;
                }
            }
        }

        .steps-image {
            padding: 3em 6em;
        }

        .but-solid {
            margin: 2em 2em;
            background-color: #021f59;
            font-size: 18px;
            padding: 0.5em 2em;
        }
    }
}

@media only screen and (max-width: 768px){
    .how{
        .head{
            height: 450px;
            padding-top: 30px;
            .jumbo{
                overflow: hidden;
                .con{
                    p.title{
                        font-size: 25px;
                        line-height: unset;
                    }

                    p.desc{
                        font-size: 14px;
                        margin-bottom: 40px;
                    }
                    
                    .how-invest{
                        width: 100%;
                        margin-bottom: 20px;
                        font-size: 14px;
                        height: 35px;
                    }

                    .fund{
                        width: 100%;
                        font-size: 14px;
                        height: 35px;
                    }
                }
            }
        }

        .cara{
            height: 100%;
            padding: 20px;

            p.desc{
                font-size: 14px;
            }
        }

        .kartu{
            padding: 30px 0;
        }

        .steps{
            overflow: hidden;
            flex-wrap: wrap;
            .step-box{
                margin-bottom: 40px;

                li{
                    font-size: 14px !important;
                }
            }
        }

        .cara-mengajukan{
            .steps{
                padding: 20px !important;
                .documents{
                    img{
                        margin-bottom: 10px;
                    }
                    margin: 0 !important;
                    padding: 20px !important;
                }

                button{
                    width: 100% !important;
                    font-size: 14px;
                    height: 35px;
                }
            }

            .steps-image{
                padding: 40px 0;

                img{
                    margin: 20px 0;
                }
            }
        }
    }
}
