.invest{
    padding-top: 74px + 70px;
    background-color: white;
    margin-bottom: 100px;
   
    .pasal{
        .title{
            font-weight: 500;
            font-size: 12px;
            line-height: 24px;
            text-align: center;
            color: #000000;
        }
        .desc{
            font-size: 12px;
            line-height: 24px;
            text-align: justify;
            color: #757575;
        }
    }

    .cal-invest{
        display: flex;
        justify-content: center;
        align-items: center;
        // background: skyblue;
        background-repeat: no-repeat;
        background-position: bottom left, bottom right;
        background-size: 22%, 28%;
        .calculator{
            width: 391px;
            background: #F6F6F6;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 15px;
            padding: 40px 32px;
            .title{
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
                text-align: center;
                margin-bottom: 0px;
            }
            .desc{
                font-size: 12px;
                line-height: 24px;
                text-align: center;
                color: #979797;
                margin-bottom: 48px;
            }
            .wrap-cal{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 25px;
                margin-bottom: 10px;
                button{
                    width: 41px;
                    height: 41px;
                    background: linear-gradient(0deg, #4CB5EF, #4CB5EF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
                    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
                    font-size: 20px;
                    font-weight: 400;
                    border: none;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                input{
                    height: 47px;
                    border: unset;
                    text-align: center;
                    font-size: 18px;
                    font-weight: 600;
                    width: 152px;
                    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
                    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
                    border-radius: 9px;
                }
            }
            .info{
                font-size: 12px;
                line-height: 24px;
                text-align: center;
                color: #F27272;
                margin-bottom: 45px;
            }
            .total{
                width: 100%;
                height: 47px;
                background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
                border-radius: 9px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                margin-bottom: 30px;
                font-size: 18px;
                font-weight: 600;
                text-align: center;
                color: #333333;
            }
            .beli-saham{
                width: 100%;
                background: linear-gradient(0deg, #01579B, #01579B), #FFFFFF;
                box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.52);
                border-radius: 9px;
                font-size: 20px;
                color: white;
                height: 47px;
            }
        }
    }
}

.modal-confirm-invest{
    position: relative;
    width: 886px;
    height: 484px; 
    background: #FFFFFF;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        position: absolute;
        font-size: 40px;
        margin: 20px 40px;
        cursor: pointer;
        top: 0;
        left: 0;
    }
    .confirm{
        margin-left: 30px;
        .title{
            font-weight: 600;
            font-size: 25px;
            line-height: 54px;
            text-align: center;
        }
        .inliner{
            display: flex;
            justify-content: space-around;
            span{
                flex: 1;
                color: #757575;
                font-weight: 300;
                line-height: 24px;
            }
            .val{
                flex: 1.3;
                &::before{
                    content: ':';
                    padding-right: 15px;
                }
            }
        }
        button{
            font-weight: 600;
            width: 303px;
            height: 48px;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            color: #0288D1;
            border: 1px solid #0288D1;
            border-radius: 9px;
            margin-top: 30px;
        }
    }

}


// PIN MODALS 
.pin_components{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    .bg {
        width: 100%;
        background-color: unset;
        overflow: hidden;
        position: absolute;
        height: 100vh;
        display: flex;
        justify-content: center;
        top: 0;
        z-index: -1;
        .bg-round {
            border-radius: 0 0 50% 50%;
            width: 2906px;
            height: 2906px;
            position: absolute;
            top: -2430px;
            z-index: 0;
            background: #f3f3f3;
            box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
        }
    }
    .back-button {
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background-color: #dedede;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 80px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .logo-invest {
        margin: 80px;
        position: absolute;
        right: 0;
        top: 0;
    }
    .box_inp_pin, .box_inp_reset{
        width: 504px;
        height: 484px;
        background: #FFFFFF;
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .title{
            font-size: 25px;
            margin-bottom: 15px;
            font-weight: 500;        
        }
        .desc{
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #757575;
            margin-bottom: 40px;
        }
        .wrapperform{
            width: 303px;
            input{
                width: 100%;
                height: 48px;
                border: 1px solid #01579B;
                border-radius: 9px;
                padding: 0 20px;
                margin-bottom: 20px;
                &:focus{
                    outline: none;
                }
                &::placeholder{
                    font-weight: 300;
                }
            }
            .verif-button{
                width: 100% ;
                height: 48px;
                background-color: #01579B ;
                border: 1px solid #01579B ;
                box-sizing: border-box;
                box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
                border-radius: 9px;
                font-size: 18px;
                line-height: 25px;
                color: #FFFFFF;   
                margin-bottom: 20px;  
                &:disabled{
                    background-color:grey;
                    border: none;
                }           
            }
            hr{
                margin-top: 0;
                margin-bottom: 15px;
            }
        }
        .forget-pin{
            color: #757575;
            text-align: center;
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
            span{
                cursor: pointer;
                color: #4CB5EF;
                font-weight: 500;
            }
        }
    }
    .box_inp_otp{
        padding: 50px 20px;
        margin: 20px;
        width: 769px;
        background-color: white;
        border-radius: 20px;
        display: flex;
        // justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 25px;

        img{
            width: 89px;
            height: 75px;
            margin-bottom: 10px;
        }
        .title{
            font-weight: bold;
            font-size: 30px;
            color: #000000;
            margin-bottom: 20px;
        }
        .desc{
            font-size: 14px;
            margin-bottom: 35px;
        }
        .num{
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 0px;
            margin-bottom: 35px;
        }
        form{
            margin-bottom: 60px;
            input{
                border: 1px solid rgba(36, 36, 36, 0.4);
                box-sizing: border-box;
                border-radius: 4px;
                width: 63.08px;
                height: 61.4px;
                margin: 0 9px;
                text-align: center;
                font-size: 24px;
                font-weight: 600;
                color: #4CB5EF;
            }
        }
        button{
            width: 303px;
            height: 48px;
            background: #01579B;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 9px;
            margin-bottom: 23px;
            border: none;
            font-weight: 500;
            font-size: 18px;
            color: white;
        }

        .info{
            font-size: 14px;
            line-height: 19px;
            color: #757575;
            span{
                font-weight: 500;
                color: #0288D1;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .invest{
        padding-top: 90px;
        .cal-invest{
            background-image: unset !important;
            
            .calculator{
                width: 100% !important;
                padding: 20px !important;
                margin-top: 40px;
    
                .wrap-cal{
                    padding: 0 !important;
                }
            }
        }

    }

    .modal-confirm-invest{
        width: 100%;
        padding: 50px !important;
        
        i{
            font-size: 20px;
            width: 80%;
            text-align: right !important;
        }

        button{
            width: 100% !important;
        }

        img{
            display: none !important;
        }

        .confirm{
            margin-left: unset !important;
            p.title{
                text-align: unset !important;
                font-size: 18px !important;
            }
        }
    }

    .pin_components{
        .back-button{
            margin-top: 20px !important;
            margin-left: 20px;
        }

        .logo-invest{
            margin-top: 10px;
            margin-right: 20px;
        }

        .box_inp_pin{
            margin: 20px;
            padding: 20px;
        }
        
        .box_inp_otp{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            height: 100vh;
            border-radius: 0;
            form {
                display: flex;
                justify-content: space-between;
                width: 100%;

                input{
                    width: 45px;
                    height: 45px;
                    margin: 0;
                }
            }
        }

        p.desc, p.info{
            text-align: center;
        }
    }
}