.join-now{
  margin-top: 60px;
  .big-text{
    font-size: 20pt;
    font-weight: bolder;
  }
  .gray{
    color: gray;
  }
  .boxes{
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
  }
  @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

  .wrap-join-boxes{
    position: relative;
    height: 455px;
    .row-join-2{
      position: absolute;
      top: 193px;
    }
    .wrap-gambar-join{
      display: flex;
      justify-content: center;
      align-items: center;
      .box-image-wrap{
        width: 260px;
        height: 260px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .box-baris-1{
          width: 100%;
          display: flex;
          justify-content: space-between;
          .boxes{
            width: 89.74px;
            height: 87.14px;
          }
        }

        .box-baris-2{
          width: 100%;
          display: flex;
          justify-content: center;
          .boxes{
            width: 89.74px;
            height: 87.14px;
          }
        }

      }
    }

  }
  .link-button{
    background: #0288D1;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.61);
    border-radius: 9px;
    width: 344px;
    height: 59px;
    font-weight: 900;
    font-size: 22px;
    color: #FFFFFF;
    &:hover{
      background-color:  #0288D1;
    }
  }

}
