.modal-error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 1001;
    .modal-error-body {
        width: 773px;
        height: 400px;
        background-color: #ffffff;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
        border-radius: 25px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .fa-times {
            font-size: 30px;
            position: absolute;
            top: 0;
            right: 0;
            margin: 30px;
            cursor: pointer;
        }

        .modal-error-detail {
            width: 303px;
            height: 308px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            .error-title {
                font-weight: 600;
                font-size: 30px;
                text-align: center;
                color: #000000;
            }
            .error-description {
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                font-weight: bold;
                color: #000000;
            }
            .but {
                // Used to be global value
                border-radius: 8px;
                border: 1px solid #0288d1;
                background-color: white;
                outline: unset !important;

                // Mockup
                width: 303px;
                height: 48px;
                margin-top: 1em;

                // Text
                font-weight: 800;
                font-size: 20px;
                line-height: 27px;
                text-align: center;
            }
        }
    }
}
