nav{
    font-family: 'Lato';
    display: flex;
    height: 72px;
    // background-color: skyblue;
    width: 100%;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
    font-size: 16px;
    .burger{
        cursor: pointer;    
    }
    .left{
        display: flex;
        align-items: center;
        img{
            // margin-left: 40px;
        }
        ul{
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            list-style-type: none;
            li{
                margin-left: 40px;
            }
        }
    }
    .right{
        ul{
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            cursor: default;
            li{
                list-style-type: none;
                // width: 100%;
                margin-left: 40px;
                .nav-active{
                    color: #4CB5EF;
                }
                a{
                    &:hover{
                        color: #4CB5EF;
                    }
                }
                .but-login{
                    text-transform: capitalize;
                    font-family: 'Lato';
                    font-size: 16px;
                    width: 106px;
                    height: 42px;
                    border: 1px solid #0288D1;
                    box-sizing: border-box;
                    border-radius: 6px;
                }
            }
            .popovercus{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                cursor: pointer;
                .ava{
                    width: 28px;
                    height: 28px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-right: 10px;
                }
                .menus-pop{
                    position: absolute !important;
                    // z-index: 9999;
                    top : 35px;
                    right : 0px;
                    width : 343px;
                    background: #FFFFFF;
                    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
                    border-radius: 6px;
                    cursor: default;
                    .boxsaldo{
                        margin: 25px 20px;
                        background: #FFFFFF;
                        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
                        border-radius: 6px;
                        display: flex;
                        justify-content: space-between;
                        padding: 14px;
                        align-items: center;
                        p{
                            margin: 0;
                            font-size: 12px;
                            color: #A5A5A5;
                            span{
                                font-weight: bold;
                                font-size: 18px;
                                color: #000000;
                            }
                        }
                        button{
                            height: 70px;
                            background: #FFFFFF;
                            border: 1px solid #AFE843;
                            box-sizing: border-box;
                            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
                            border-radius: 6px;
                            width: 86px;
                            span{
                                i{
                                    color: #AFE843;
                                    font-size: 20px;
                                }
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                            }
                            
                        }
                    }
                    .menuslistpop{
                        margin: 0 0 20px 0;
                        padding: 0;
                        flex-direction: column;
                        li{
                            width: 100%;
                            margin: 0;
                            padding: 0 20px;
                            height: 45px;
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            &:hover{
                                transition: .3s;
                                background-color: whitesmoke;
                            }
                        }
                        // hr{
                        //     z-index: 999990000;
                        //     position: relative;
                        //     border: 1px solid black !important;
                        //     color: black !important;
                        //     background-color: black !important;
                        // }
                    }
                }
            }
        }
    }

}

.drop{
    position: fixed;
    height: 70px;
    left: 0;
    right: 0;
    background-color: #021F59;
    top: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: white;
    a,span{
        text-decoration-line: underline;
        color: #4CB5EF;
        cursor: pointer;
        margin-left: 20px;
    }

}