.payment {
    .bayar {
        width: 700px;
        border-radius: 9px;
    }
    .payment-company.box-form-data {
        background-color: #e4e4e4 !important;
        padding: 1em;

        .payment-image {
            width: 214px;
            height: 107px;
            border-radius: 9px;
        }

        .company-name {
            color: #656565;
        }

        .text-color-grey {
            color: #757575;
        }
    }

    .box-form-title {
        font-weight: bold;
        font-size: 16px;
        color: rgba(43, 43, 43, 0.8);
    }

    .wallet-payment.box-form-data {
        padding: 0;
        .wallet-payment-container {
            margin: 25px 41px 15px 24px;
        }
        .wallet-icon {
            width: 38px;
            height: 38px;
        }

        .saldo-row {
            margin-left: 0;

            .saldo-status {
                font-size: 14px;
                line-height: 24px;
                text-align: center;
                color: #f27272;
                margin-bottom: 0;
                margin-right: 26px;
            }

            .add-icon {
                width: 24px;
                height: 24px;
                margin-right: 9px;
            }

            .topup-label {
                font-weight: bold;
                font-size: 16px;
                text-decoration-line: underline;
                color: #0288d1;
            }
        }
    }

    .payment-methods {
        padding: 0;
        .head {
            margin: 24px 41px 0 24px;
            .bank-icon {
                width: 38px;
                height: 38px;
            }

            .payment-title {
                font-weight: normal;
                font-size: 22px;
                color: #000000;
                margin-bottom: 8px;
            }

            .payment-selected {
                font-weight: bold;
                font-size: 14px;
                color: #01579b;
            }
        }

        .payments-container {
            margin: 0 90px 62px 90px;
        }

        .hr-payment-methods {
            margin: 16px 37px 58px 37px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .all-forms-style .back-button{
        width: 50px !important;
    }

    .logo-invest{
        display: none;
    }

    .payment{
        .payment-company.box-form-data{
            .payment-image{
                display: block;
                margin: 0 auto;
                margin-bottom: 20px !important;
                width: 100%;
                height: 150px;
            }

            .price{
                margin-top: -30px !important;
            }
        }
        
        .payment-methods{
            .hr-payment-methods{
                margin-bottom: 20px !important;
            }
            .payments-container{
                margin: 0 20px !important;
            }
        }

        button{
            width: 320px !important;
        }
    }
}
