.detail-transaction {
    .name {
        font-size: 12px;
        color: #757575;
    }

    .amount {
        font-weight: bold;
        color: #242424;
        font-size: 12px;
    }

    .text-blue {
        color: #0288d1 !important;
    }

    .total-amount {
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;

        color: #0288d1;
    }

    .tile-active {
        padding: 1em 1em;
        border-radius: 12px;
        background: rgba(76, 181, 239, 0.1);
    }

    .note {
        font-size: 8px;
        color: #333333;
    }

    .but {
        padding: 0.7em 0;
        width: 100%;
        margin-right: 1em;
        color: #0288d1;
        font-size: 16;
        font-weight: bold;
    }
    .but-solid {
        padding: 0.7em 0;
        width: 100%;
        font-size: 16;
    }
}
