.detail-transaction {
    .tile-active {
        padding: 1em 1em;
        border-radius: 12px;
        background: rgba(76, 181, 239, 0.1);
    }
    .text-blue {
        color: #0288d1;
    }

    .note {
        font-size: 10px;
        line-height: 12px;
        color: #333333;
    }

    .but {
        padding: 0.7em 0;
        width: 100%;
        margin-right: 1em;
        color: #0288d1;
        font-size: 16;
        font-weight: bold;
    }
    .but-solid {
        padding: 0.7em 0;
        width: 100%;
        font-size: 16;
    }
}
