.all-forms-style {
    .box-form-title {
        z-index: 1;
        margin-left: 1em;
        width: 700px;
        text-align: left;

        font-weight: bold;
        font-size: 16px;
        line-height: 54px;
        color: rgba(43, 43, 43, 0.8);
    }

    .box-form-data {
        .title-alt {
            font-weight: bold;
            font-size: 16px;
            color: rgba(43, 43, 43, 0.8);
        }

        .subtitle {
            margin-bottom: 1em;
            font-size: 10px;
            color: rgba(43, 43, 43, 0.8);
        }

        .more-transfer-method {
            color: #87b72e;
            cursor: pointer;
            margin-bottom: 0;
        }

        &.payment-detail {
            font-size: 14px;
            line-height: 32px;

            .amount {
                font-weight: bold;
                color: #242424;
            }
        }

        .radio-bank {
            height: 48px;
            display: flex;
            align-items: center;
            flex-direction: row;

            margin-bottom: 20px;
            padding: 15px 0 15px 17px;
            border: 1px solid #c4c4c4;
            border-radius: 4px;

            &.checked {
                background: rgba(76, 181, 239, 0.1);
                border: 1px solid #4cb5ef;
            }

            img {
                margin-left: 24px;
            }
        }

        .input-border-underline {
            height: 48px;
            border-bottom: 1px solid #b9bbcb;
            position: relative;
            &:disabled {
                background-color: #eceff4;
                border-radius: 9px;
                color: #a9a9a9;
                border: none;
            }
            &::before {
                content: "Rp";
                font-weight: normal;
                font-size: 24px;
                text-align: center;
                color: rgba(43, 43, 43, 0.8);

                position: absolute;
                top: 10px;
                left: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
            input {
                padding: 0 30px;
                padding-left: 45px;
                height: 100%;
                width: 100%;
                border: none;
                background-color: inherit;

                font-weight: bold;
                font-size: 30px;
                line-height: 54px;
                color: rgba(43, 43, 43, 0.8);

                &:focus {
                    outline: none;
                }
                &:disabled {
                    background-color: #eceff4;
                    border-radius: 9px;
                    color: #a9a9a9;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .all-forms-style{
        .input-border-underline{
            input{
                font-size: 20px !important;
            }
        }

        p.box-form-title{
            width: 100%;
        }

        img.minimarket{
            width: 230px;
        }
    }
}