.box{
    position: absolute;
    width: 372px;
    background: white;
    height: 240px;
    
}
.saldo{
    left: 140px;
    top: 190px;    
    width: 340px;
    height: 190px;    
    border-bottom: 8px solid #0288D1;
}
.nominal, .riwayat{
    width: 700px;
    left: 500px;
    top: 192px;
}
.title{
    position: absolute;
    left: -550px;
    top: -1px;
}
.riwayat{
    top: 450px;
}
.wallet{
    margin-top: 40px;
    margin-left: 40px;
} 
.uang{
    color: #0288D1;
    font-weight: bolder;
    font-size: 20pt;
    margin-left: 150px;
    margin-top: -40px;
}