.withdraw{
    .menu a{
    position: absolute;
margin-top: 20px;
padding: 6px;
border: 2px solid #4CB5EF;
color: #2388D1;
border-radius: 30px;
font-size: 10pt;
padding-left: 15px;
padding-right: 15px;
margin-left: 30px;
cursor: pointer;
}
.menu a:hover{
    background: #4CB5EF;
    color:white;
}
.box{
    position: absolute;
    width: 372px;
    background: white;
    height: 240px;
    
}
.saldo{
    left: 140px;
    top: 190px;    
    width: 340px;
    height: 190px;    
    border-bottom: 8px solid #0288D1;
}
.nominal, .riwayat{
    width: 700px;
    left: 500px;
    top: 192px;
}
.title{
    position: absolute;
    left: -550px;
    top: -1px;
}
.riwayat{
    top: 450px;
}
.wallet{
    margin-top: 40px;
    margin-left: 40px;
} 
.geser{
    -webkit-overflow-scrolling: touch;
}
.uang{
    font-weight: bolder;
    font-size: 20pt;
    margin-left: 130px;
    margin-top: -40px;
}
.saran {
    display: inline-block;
    border: none;
    margin-top: 20px;
    margin-right: 20px;
    background: #DEDEDE;
    font-size: 9pt;
}
.more-transfer-method{
    color: red;
font-weight: bolder
}

.geser{
    max-height: 40px;
overflow-x: hidden;
overflow-y: hidden;
white-space: nowrap;
}
.error-image{
width: auto;
height: 60px
}
.error-title{
    margin-top: 10px;
font-size: 12pt;
margin-bottom: 15px
}

}
