.home{
    height: 100vh;
    // background-color: skyblue;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 60%, 45%;
    .contain-home{
        display: flex;
        align-items: center;
        height: 100%;
        // background-color: yellowgreen;
        .wrap{
            margin-top: 72px;
            .title{
                font-weight: 900;
                font-size: 70px;
                line-height: 50px;
                span{
                    font-size: 40px;
                }
            }
            .desc{
                max-width: 50%;
            }
            button{
                width: 205px;
                height: 52px;
                margin-right: 28px;
                margin-bottom: 38px;
            }
        }
    }

    .last-invest{
        // border-top: 1px solid #DEDEDE;
        // border-bottom: 1px solid #DEDEDE;
        height: 121px;
        padding: 0 65px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

        .card-last{
            // background-color: skyblue;
            border-right: 1px solid #DEDEDE;
            display: flex;
            min-width: 300px;
            padding: 12px; 
            &:last-of-type{
                border-right: 0;
            }
            img{
                height: 38px;
                width: 38px;
                margin-right: 10px;
                border-radius: 5px;
                object-fit: cover;
            }
            .name{
                font-size: 16px;
                line-height: normal;
                width: 205px;
                color: $grey;
                margin-bottom: 0;
                font-weight: 300;
                span{
                    color: black;
                }
            }
        }
    }
}